[package]
name = "openapi"
version = "0.1.0"
edition = { workspace = true }

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
reqwest = { workspace = true }
anyhow = { workspace = true }
tera = { workspace = true }
rust-embed = { workspace = true }